/*COMENTARIOS: 

h1 {
    color: brown;
    font-size: 32px;
}

.caixa {
    color: brown;
}

#contato {
    background-color: bisque;
}

ul > li {
    background-color: bisque;
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #a3a29f, #e6a1cf, #e768d8);
    color: darkred;
    line-height: 1.6;
    padding: 20px;
}

header {
    /* rgba = RED, GREEN, BLUE, TRANSPARENCIA */
    background: #f9e9af(255, 255, 255, 0.05);
    padding: 20px;
    /* borda arredondada */
    border-radius: 12px;
    /* comentário */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    color: #501901;
    text-shadow: 0 0 5px #e139d8, 0 0 10px #f3ef86;
    /* ponteiro do mouse muda */
    cursor: pointer;
}

ul {
    /* deixa os itens da lista lado-a-lado ao invés de um em cima do outro */
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    padding-left: 20px;
}

nav ol {
    /* ativa flexbox */
    display: flex;
    /* negrito */
    font-weight: bold;
    /* espaço entre elementos */
    gap: 40px;
    margin-top: 10px;
}

nav a:hover {
    /* ao passar o mouse por cima, coloca a background-color da cor escolhida*/
    background-color: #008c9e;
}

main section {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #501901;
    margin-bottom: 10px;
    border-left: 4px solid #501901;
    padding-left: 10px;
}

p,
li,
label {
    font-size: 1rem;
}

img {
    max-width: 100%;
    max-height: 50%;
    border-radius: 8px;
    margin-top: 10px;
}

form {
    display: flex;
    /* flexbox fica espalhado lado-a-lado em ‘colunas’ ao invés de um em cima do outro */
    flex-direction: column;
    gap: 15px;
}

input,
textarea,
select {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #b36ba4;
    color: #ffffff;
}

/* Focus é quando estiver selecionado */
input:focus,
textarea:focus,
select:focus {
    outline: 2px solid #f60fad;
}

label.checkbox-label {
    display: flex;
    /* centraliza de forma vertical */
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    /* usuário não pode copiar o texto do elemento */
    user-select: none;
}

button {
    padding: 10px 15px;
    background-color: #501901;
    color: #eee8e8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b49caf;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #aaaaaa;
    font-size: 0.9em;
}